#experience_ {
  background-color: white;

  & > .top-gradient {
    position: absolute;
    height: 50px;
    top: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(#F86CB7, rgba(247,247,247,0));
    background: -o-linear-gradient(#F86CB7, rgba(247,247,247,0));
    background: -moz-linear-gradient(#F86CB7, rgba(247,247,247,0));
    background: linear-gradient(#F86CB7, rgba(247,247,247,0));
  }

  & > .bottom-gradient {
    position: absolute;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-linear-gradient(rgba(247,247,247,0), #F86CB7);
    background: -o-linear-gradient(rgba(247,247,247,0), #F86CB7);
    background: -moz-linear-gradient(rgba(247,247,247,0), #F86CB7);
    background: linear-gradient(rgba(247,247,247,0), #F86CB7);
  }

  .experience-grid {
    height: 100%;
    max-width: 800px;
    display: flex;
    -webkit-flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: auto;

    & > div {
      margin: 20px;
    }
  }

  .experience-item {
    overflow: hidden;
    position: relative;
    height: 330px;
    width: 330px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px #dddddd;
    background-color: white;
    cursor: pointer;

    .experience-item-logo {
      position: absolute;
      background: rgba(255, 255, 255, 0.8);
      bottom: -100%;
      max-height: 35%;
      width: 100%;
      transition: bottom 0.35s ease;
    }

    &:hover {
      .experience-item-logo {
        bottom: 0;
      }
    }
  }
}
