@footerHeight: 180px;
@footerTopMargin: 250px;
@footerBottomMargin: 250px;
@sidePaddingIconContainer: 20%;

#footer_ {
  width: 100vw;
  height: @footerHeight + @footerTopMargin + @footerBottomMargin;
  position: fixed;
  bottom: -@footerBottomMargin;
  background-image: url('../assets/images/clouds.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 100;
  
  .footer-content {
    height: @footerHeight;
    margin-top: @footerTopMargin;
    padding: 0 @sidePaddingIconContainer;
  }
}

#content_ {
  margin-bottom: @footerHeight;
}
