@footerHeight: 200px;

.footer_ {
  // height: @footerHeight;
  // position: relative;
}

.footer {
  width: 100%;
  height: @footerHeight;
  position: fixed;
  height: 500px;
  bottom: (@footerHeight - 500px);
  background-image: url('../assets/images/clouds.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

// .splashpage_ {
//   z-index: -10;
// }
