@navbarHeight: 80px;

#navbar_ {
  height: @navbarHeight;
  width: 100vw;
  background-image: url('../assets/images/clouds.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  z-index: 990;

  .navItem {
    cursor: pointer;
    margin: 0;
    opacity: 0.7;
    font-size: 30px;
    -webkit-transition: margin 700ms, font 500ms, opacity 500ms;
    -ms-transition: margin 700ms, font 500ms, opacity 500ms;
    -moz-transition: margin 700ms, font 500ms, opacity 500ms;
    transition: margin 700ms, font 500ms, opacity 500ms;

    &.inView {
      font-weight: bold !important;
      margin: auto 12% !important;
      opacity: 1 !important;
      font-size: 37px !important;
    }
  }
}

.nav.sticky_aligner {
  z-index: 990;
}

.main_content {
  padding-top: @navbarHeight;
  width: 100%;
}
