@navbarHeight: 80px;

#navbar_ {
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  z-index: 9999;
  position: relative;
  height: @navbarHeight;
  width: 100vw;
  background-image: url('../assets/images/clouds.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .navItem {
    cursor: pointer;
    color: white;
    font-weight: normal;
    margin: 0;
    opacity: 0.7;
    font-size: 30px;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: font 500ms, opacity 500ms,margin 500ms;
    -ms-transition: font 500ms, opacity 500ms,margin 500ms;
    -moz-transition: font 500ms, opacity 500ms,margin 500ms;
    transition: font 500ms, opacity 500ms,margin 500ms;

    &.inView {
      font-weight: bold !important;
      margin: auto 12% !important;
      opacity: 1 !important;
      font-size: 37px !important;
    }
  }
}

.nav.sticky-aligner {
  z-index: 9990;
}
