@splashScrollHeight: 200vh;
@minSplashScollHeight: calc(~"4990px + 100vh + 50px");
@minSplashHeight: 500px;

#splashpage_ {
  width: 100vw;
  height: @splashScrollHeight;
  position: relative;
  min-height: @minSplashScollHeight;
  cursor: pointer;
  z-index: 200;
  background-color: white;

  & > .splash.sticky-aligner {
    height: 100vh;
  }

  .scroll-typer {
    font-size: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .scroll-typer-cursor {
    color: #888;
    opacity: 1;
    -webkit-animation: blink 0.6s infinite;
    -moz-animation: blink 0.6s infinite;
    animation: blink 0.6s infinite;
    animation-direction: alternate;
  }

  @keyframes blink {
    100% {
      opacity: 0;
    }
  }

  @-webkit-keyframes blink {
    100% {
      opacity: 0;
    }
  }

  @-moz-keyframes blink {
    100% {
      opacity: 0;
    }
  }
}

/* This is to set a minimum height for SplashPage */
@media screen and ( max-height: @minSplashHeight ) {
  .splashpage_{
    height: @minSplashHeight !important;
  }
  .content_ {
    margin-top: @minSplashHeight !important;
  }
}
